.var-highlight{
    color: #C0AD60;
}
.string-highlight{
    color: rgba(253, 149, 90, 0.8);
}
.portText {
    text-align: center;
}

/*#typewriter{
        font-size: 25px;
        margin: 0;
        /*font-family: "Courier New";
        background-color: transparent;
        border: transparent;

        &:after{
            content: "|";
            animation: blink 500ms linear infinite alternate;
        }*/
}*/

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}



/* HEADER BACKGROUND */
.navbar-custom {
  /*background-color: #DE1B1B;*/
  background-image:url("../img/headerbgblack.jpg");
      border-bottom-style: double;
    border-bottom-color: #E5E4E2;
    border-bottom-width: 8px;
}
/* LARGE BANNER WORDING */
.navbar-brand.headerText{
    color: #F6F6F6;
}

/* MAIN BANNER TEXT COLOR */
.navbar-custom .navbar-nav li a {
    color: #F6F6F6;
}

header {
    text-align: left;
    /*background-image: url("../img/headerbg.jpg");*/
    background-size: cover;

background-color: white;
color: #F6F6F6;
overflow:hidden;
}

.portfolioText{
  color:black;
}

.headerImage{
    width:20%;
    height: 100%;
    margin-left: auto;
            margin-right: auto;
            display: inline
}

.profileImage {
    height: 750px;
    width: 650px;
    float: right;
    margin-top: -104px;
    margin-right: -250px
}
.portfolioImage{
  width:355px;
  height:305px;
  border-style: solid;
  border-width: 5px;
  border-color: black
}

.portfolioBG{
  margin-top:-200px;
  margin-bottom:0px;
}
.aboutBG{
    margin-top:-200px;
    margin-bottom:0px;
}
.guitarPic{
  width:355;
  height:305px;
}
.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
.contactBG{
    margin-top:-200px;
    margin-bottom:20px;
}
.fa-stack-overflow:before {
    content: "\f16c";
    color:black
}
.popupBlack{
  color:black;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
section h2 {
    margin: 30px;
    font-size: 3em;
}
.fa-linkedin:before {
    content: "\f0e1";
    color:black;
}
.fa-github:before {
    content: "\f09b";
    color:black;
}
.linksBG{
    margin-top:-200px;
    margin-bottom:20px;
}
.contactText{
  color:black
}


.headerHeight{
    height:100px;
    /*display: flex;
    align-items: center;*/
    vertical-align: middle;
    text-align: center

}

.profilePhoto{
        height: 300px;
    width: 275px;

    border-radius: 50%;
};


.headerPosition{
    float:left;
}


.var-highlight{
    color:#00F0FC;
}

.object-color{
    color: white;
}

.equal-color{
    color: #F82847;
}
.string-highlight{
    color: #F0F01E;
}



.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 53px;
}

.navbar-custom .navbar-nav li a {
    color: #F6F6F6;
    line-height: 53px;
}

.navbar-custom {
    background-color: #DE1B1B;
    border-bottom-style: double;
    border-bottom-color: white;
    border-bottom-width: 8px;
    height: 18%;
}

.navbar-name{
    font-family: 'Cinzel', serif;
}

.nameScriptCenter{
  margin: 0 auto;
}

a, a.active, a:active, a:focus, a:hover {
    color: red;
}

/* IMAGE CAROUSEL */
  #stage {
    margin: 2em auto 1em 50%;
    height: 140px;
    -webkit-perspective: 1200px;
    -webkit-perspective-origin: 0 50%;
  }

  #rotator a {
    position: absolute;
    left: -81px;
  }
  #rotator a img {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-backface-visibility: hidden;
  }

  #rotator a:nth-of-type(1) img {
    -webkit-transform: rotateY(-90deg) translateZ(300px);
  }
  #rotator a:nth-of-type(2) img {
    -webkit-transform: rotateY(-60deg) translateZ(300px);
  }
  #rotator a:nth-of-type(3) img {
    -webkit-transform: rotateY(-30deg) translateZ(300px);
  }
  #rotator a:nth-of-type(4) img {
    -webkit-transform: translateZ(300px);
    background: #000;
  }
  #rotator a:nth-of-type(5) img {
    -webkit-transform: rotateY(30deg) translateZ(300px);
  }
  #rotator a:nth-of-type(6) img {
    -webkit-transform: rotateY(60deg) translateZ(300px);
  }
  #rotator a:nth-of-type(n+7) { display: none; }

    @-webkit-keyframes rotator {
    from { -webkit-transform: rotateY(0deg);  }
    to   { -webkit-transform: rotateY(30deg); }
  }

  #rotator {
    -webkit-transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1);
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
  }
  #rotator:hover {
    -webkit-animation-play-state: paused;
  }

.contactText{
  text-align: center;
}
